# Python For Datascience

### Comprehensions

In [1]:
# List comprehensions

In [2]:
salaries=[1000,2000,3000,4000,5000]

def new_salary(x):
    return x*20/100+x

for salary in salaries:
    print(new_salary(salary))

null_list=[]

for salary in salaries:
    null_list.append(new_salary(salary))


null_list=[]
for salary in salaries:
    if salary<3000:
        null_list.append(new_salary(salary))
    else:
        null_list.append(new_salary(salary*2))

print(null_list)

1200.0
2400.0
3600.0
4800.0
6000.0
[1200.0, 2400.0, 7200.0, 9600.0, 12000.0]

In [3]:
# list comprehensions yapısı ile yukarıda yaptığımız işlemleri tek satırda yapabiliriz.

[new_salary(salary*2) if salary<3000 else new_salary(salary) for salary in salaries]

[2400.0, 4800.0, 3600.0, 4800.0, 6000.0]

In [4]:
[salary * 2  for salary in salaries]

[2000, 4000, 6000, 8000, 10000]

In [6]:
# sadece if yapısı kullanıyorsak if yapısı döngünün sağ tarafında kalır.
[salary * 2  for salary in salaries if salary<3000]

[2000, 4000]

In [8]:
# eğer if yapısı ile ile birlikte else yapısı da kullanacaksak else ve if yapısı döngünün sol tarafında kalır.
[salary * 2 if salary< 3000 else salary * 0.5 for salary in salaries ]

[2000, 4000, 1500.0, 2000.0, 2500.0]

In [10]:
# bu şekilde önceden tanımlı bir fonksiyonu da içerisinde kullanabiliriz.
[new_salary(salary * 2) if salary< 3000 else new_salary(salary * 0.5) for salary in salaries ]

[2400.0, 4800.0, 1800.0, 2400.0, 3000.0]

In [11]:
basarılı=["emirhan","elif","ali","zeynep"]
basarısız=["zeynep","ali"]

[student.lower() if student in basarısız else student.upper() for student in basarılı  ]

['EMIRHAN', 'ELIF', 'ali', 'zeynep']

In [12]:
# Dict comprehensions

In [14]:
dict={"a":1,
            "b":2,
            "c":3,
            "d":4
           }

In [15]:
dict.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [16]:
dict.values()

dict_values([1, 2, 3, 4])

In [17]:
dict.items()

dict_items([('a', 1), ('b', 2), ('c', 3), ('d', 4)])

In [18]:
# gönderdiğimiz itemlerde key değerleri sabit kalırken value değerlerinin karesini aldık.
{k:v**2 for (k,v) in dict.items()}

{'a': 1, 'b': 4, 'c': 9, 'd': 16}

In [22]:
{k.upper():v**2 for (k,v) in dict.items()}

{'A': 1, 'B': 4, 'C': 9, 'D': 16}

In [23]:
{k.upper(): v**2 if v % 2 == 0 else v**3 for k, v in dict.items()}

{'A': 1, 'B': 4, 'C': 27, 'D': 16}

In [24]:
# mülakat sorusu

In [39]:
# elimizde bir liste var . çift sayıların karesi alınıp bir sözlüğe eklenmek isteniyor.
# klasik yöntem 
numbers=range(10)
new_dict={}

for n in numbers:
    if n%2==0:
        new_dict[n]=n**2

print(new_dict)

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [40]:
# dict comprehensions ile yapılmış .
liste=[1,2,3,4,5,6,7,8,9,10]

{v: v**2 for v in liste if v % 2 == 0}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [41]:
# list & dict comprehensions uygulamaları

In [1]:
# bir veri setindeki değişken isimlerini değiştirmek

import seaborn as sns
df=sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [3]:
for col in df.columns:
    print(col.upper())

TOTAL
SPEEDING
ALCOHOL
NOT_DISTRACTED
NO_PREVIOUS
INS_PREMIUM
INS_LOSSES
ABBREV

In [6]:
A=[]
for col in df.columns:
    A.append(col.upper())

df.columns=A
df.columns

Index(['TOTAL', 'SPEEDING', 'ALCOHOL', 'NOT_DISTRACTED', 'NO_PREVIOUS',
       'INS_PREMIUM', 'INS_LOSSES', 'ABBREV'],
      dtype='object')

In [7]:
#aynı işlemi listcomprehensions ile yapalım
df=sns.load_dataset("car_crashes")

df.columns=[col.upper() for col in df.columns]
df.columns

Index(['TOTAL', 'SPEEDING', 'ALCOHOL', 'NOT_DISTRACTED', 'NO_PREVIOUS',
       'INS_PREMIUM', 'INS_LOSSES', 'ABBREV'],
      dtype='object')

In [8]:
# isminde "ıns" olan değişkenlerin başına FLAG diğerlerine NO_FLAG eklemek istiyoruz.

In [9]:
# öncelikle veri setimizde hangi değişken isimlerinde "INS" kelimesinin olup olmadığını kontrol ettik.
[ col for col in df.columns if "INS" in col]

['INS_PREMIUM', 'INS_LOSSES']

In [11]:
[ "FLAG_" + col for col in df.columns if "INS" in col]

['FLAG_INS_PREMIUM', 'FLAG_INS_LOSSES']

In [14]:
df.columns=["FLAG_"+ col if "INS" in col else "NO_FLAG_"+ col for col in df.columns]
df.columns

Index(['NO_FLAG_NO_FLAG_TOTAL', 'NO_FLAG_NO_FLAG_SPEEDING',
       'NO_FLAG_NO_FLAG_ALCOHOL', 'NO_FLAG_NO_FLAG_NOT_DISTRACTED',
       'NO_FLAG_NO_FLAG_NO_PREVIOUS', 'FLAG_FLAG_INS_PREMIUM',
       'FLAG_FLAG_INS_LOSSES', 'NO_FLAG_NO_FLAG_ABBREV'],
      dtype='object')

In [15]:
# Amaç key değeri string value değeri ise liste olan bir sözlük oluşturmak
# Bu işlemi sadece sayısal değişkenler için yapmak istiyoruz.

In [21]:
df=sns.load_dataset("car_crashes")
df.columns

Index(['total', 'speeding', 'alcohol', 'not_distracted', 'no_previous',
       'ins_premium', 'ins_losses', 'abbrev'],
      dtype='object')

In [27]:
num_cols=[col for col in df.columns if df[col].dtype!="O"] # O ifadesi obnject ifade eder.
num_cols

['total',
 'speeding',
 'alcohol',
 'not_distracted',
 'no_previous',
 'ins_premium',
 'ins_losses']

In [28]:
soz={}
agg_list=["mean","min","max","var"]

In [29]:
for col in num_cols:
    soz[col]=agg_list

soz

{'total': ['mean', 'min', 'max', 'var'],
 'speeding': ['mean', 'min', 'max', 'var'],
 'alcohol': ['mean', 'min', 'max', 'var'],
 'not_distracted': ['mean', 'min', 'max', 'var'],
 'no_previous': ['mean', 'min', 'max', 'var'],
 'ins_premium': ['mean', 'min', 'max', 'var'],
 'ins_losses': ['mean', 'min', 'max', 'var']}

In [30]:
{col : agg_list for col in num_cols}

{'total': ['mean', 'min', 'max', 'var'],
 'speeding': ['mean', 'min', 'max', 'var'],
 'alcohol': ['mean', 'min', 'max', 'var'],
 'not_distracted': ['mean', 'min', 'max', 'var'],
 'no_previous': ['mean', 'min', 'max', 'var'],
 'ins_premium': ['mean', 'min', 'max', 'var'],
 'ins_losses': ['mean', 'min', 'max', 'var']}

In [32]:
new_dict={col : agg_list for col in num_cols}
df[num_cols].head()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63

In [33]:
df[num_cols].agg(new_dict)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
mean,15.790196,4.998196,4.886784,13.573176,14.004882,886.957647,134.493137
min,5.900000,1.792000,1.593000,1.760000,5.900000,641.960000,82.750000
max,23.900000,9.450000,10.038000,23.661000,21.280000,1301.520000,194.780000
var,16.990902,4.071303,2.989901,20.330874,14.172755,31789.565170,616.823046