# Python For Data Science

### Koşullar & Döngüler

In [1]:
ogr=["emirhan","elif","ali","zeynep"]
for student in ogr:
    print(student)

emirhan
elif
ali
zeynep

In [2]:
for ucur in ogr:
    print(ucur.upper())

EMIRHAN
ELIF
ALI
ZEYNEP

In [3]:
# mülakat sorusu imiş bu. gerçekten güzel bir soru idi.

string= "hi my name is jhon and i am learning python"
a=[]
for kelime in string.split():
    for harf in kelime:
        a.append(harf)

for index,harf  in enumerate(a):
    if(index%2==0):
        print(harf.upper())
    else:
        print(harf.lower())

H
i
M
y
N
a
M
e
I
s
J
h
O
n
A
n
D
i
A
m
L
e
A
r
N
i
N
g
P
y
T
h
O
n

In [4]:
def alternating(string):
    for string_index in range(len(string)):
        if (string_index %2==0):
            print(string[string_index].upper())
        else:
            print(string[string_index].lower())

alternating("selamun aleyküm")

S
e
L
a
M
u
N

A
l
E
y
K
ü
M

##### breaj & continue & while

In [5]:
salaries=[1000,2000,3000,4000,5000]

for salary in salaries:
    if salary==3000:
        break
    print(salary)

1000
2000

In [6]:
for salary in salaries:
    if salary ==3000:
        continue
    print(salary)

1000
2000
4000
5000

In [7]:
number=1
while number<10:
    print(number)
    number+=1

1
2
3
4
5
6
7
8
9

##### Enumarate

In [8]:
 students=["emirhan","elif","ali","zeynep"]

for student in students:
    print(student)

emirhan
elif
ali
zeynep

In [9]:
for index,student in enumerate(students):
    print(index,student)

0 emirhan
1 elif
2 ali
3 zeynep

In [10]:
c=[]
t=[]

for index,student in enumerate(students):
    if(index%2==0):
        c.append(student)
    else:
        t.append(student)

print([c,t])

[['emirhan', 'ali'], ['elif', 'zeynep']]

##### Zip

In [11]:

students=["emirhan","elif","ali","zeynep"]
departments=["statistics","mathematics","pyhsics","asronomy"]
ages=[21,19,32,28]

list(zip(students,departments,ages))
# burada listeleri indexlere göre match'lemesi gerekiyordu.

[('emirhan', 'statistics', 21),
 ('elif', 'mathematics', 19),
 ('ali', 'pyhsics', 32),
 ('zeynep', 'asronomy', 28)]

##### lambda, map,filter,Reduce

In [12]:
def sum(a,b):
    return a+b

new_sum=lambda a,b:a+b


new_sum(5,3)

8

In [13]:
sum(5,2)

7

In [14]:
salaries = [1000, 2000, 3000, 4000, 5000]

def zam(s):
    return s + s * 0.2

# map fonk bizim için verilen görevi verilen obje için gerçekleştirir.
# map() fonksiyonu kullanımı
zamli_salaries = map(zam, salaries)

# Sonuçları listeye dönüştürerek yazdırma
print(list(zamli_salaries))

[1200.0, 2400.0, 3600.0, 4800.0, 6000.0]

In [15]:
# lambda fonksiyonunu bu şekilde kullanmak daha iyi olur.
list(map(lambda x:x*30/100,salaries))

[300.0, 600.0, 900.0, 1200.0, 1500.0]

In [16]:
#filte 
list_store=[1,2,3,4,5,6,7,8,9,10]

list(filter(lambda x:x%2==0,list_store))

[2, 4, 6, 8, 10]

In [19]:
from functools import reduce

list_store = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# reduce, lambda fonksiyonunu list_store üzerindeki her iki eleman üzerinde uygular
result = reduce(lambda a, b: a + b, list_store)

print(result)

55